# {{ sdk_name }} - JVM Metrics SDK

Version: {{ sdk_version }}

## Installation

Add the generated JAR to your classpath:

```xml
<dependency>
    <groupId>{{ group_id }}</groupId>
    <artifactId>{{ artifact_id }}</artifactId>
    <version>{{ sdk_version }}</version>
</dependency>
